<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../src/css/styles2.css" rel="stylesheet">

    <title>El Archivo del Coleccionista</title>

</head>

<body>

    <header class="nav">

        <div class="nav-content">
            <span class="logo">
    
                <a href="#">
    
                    <img src="../../files/img/EADC_logo.svg" alt="Logo de la web">
    
                </a>
    
            </span>
    
            <ul class="nav-menu">
    
                <li><a href="#">Inicio</a></li>
    
                <li><a href="#">Recursos</a></li>
    
                <li><a href="#">Biblioteca</a></li>
    
                <li><a href="#">Mis colecciones</a></li>
    
                <li><a href="#">Contacto</a></li>
                
                <li><a href="#">[Perfil]</a></li>
    
            </ul>
        </div>

    </header>

    <div class="container">

        <body>

            <h1>El Archivo del Coleccionista</h1>

            <div class="welcome-msg">

                <h2>¡Bienvenido/a!</h2>

                <p>Aliquam aliquam id eros sed vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam eu condimentum dolor, egestas placerat nisl. Mauris tincidunt pharetra tempus. Phasellus vel odio quis enim vestibulum vehicula. Sed imperdiet lacus non interdum dictum. Ut ut ipsum lacus. Phasellus sit amet nulla id libero dapibus laoreet.</p>

            </div>

            <div class="last-add">
                
                <h2>Añadidos recientemente</h2>

                <div></div>

            </div>
        </body>

    </div>

    <footer class="footer">

        <div class="footer-content">
            <div class="copyright">

                <img src="../../files/img/EADC_logo.svg" alt="Logo de la web">

                <p>Sara Costas Martínez &copy;</p>
            </div>
    
            <div class="rrss">

                <ul>

                    <li><a href="#">Instagram</a></li>

                    <li><a href="#">TikTok</a></li>

                    <li><a href="#">X</a></li>

                </ul>

            </div>
    
            <div class="menu">

                <ul>

                    <p><strong>Únete:</strong></p>

                    <li><a href="#">Regístrate</a></li>

                    <li><a href="#">Recursos</a></li>

                    <li><a href="#">Biblioteca</a></li>

                    <li><a href="#">Invítanos a un café</a></li>

                </ul>

            </div>
    
            <div class="legal">

                <ul>

                    <li><a href="#">Aviso legal</a></li>

                    <li><a href="#">Declaración de accesibilidad</a></li>

                    <li><a href="#">Política de privacidad</a></li>

                    <li><a href="#">Política de cookies</a></li>

                </ul>

            </div>

        </div>

    </footer>

</body>

</html>